html
  head
    title My fine page
    base(href='/')
    include main

  body(ng-app="bookedUpApp")
    nav(ng-controller="IndexController as index")
      .nav-wrapper.light-blue.accent-2
        a.nav-wrapper(href="#") BooK
        ul#nav-mobile.right.hide-on-med-and-down(ng-if="index.user.email")
          li
            a(href="#") Signed in as {{index.user.email}}
          li
            a(href="#", ng-click="index.logout()") Logout
    div(ng-view)
