.main-header
  background-color: rgba(255, 255, 255, 0.5) !important;
  max-width: 93%;
  margin: 0 auto;

  .brand-logo
    font-weight: 700;

  ul
    li
      a
        color: #ff9800;

      a:hover
        background-color: #ff9800;
        color: white;

.profile-dropdown
  top: 60px !important;