html
  head
    title My fine page
    base(href='/')
    include main

  body(ng-app="bookedUpApp")
    .navbar-fixed
      nav.transparent(ng-controller="IndexController as index")
        .nav-wrapper.main-header
          a.brand-logo.orange-text(href="/") BookedUp
          a.button-collapse(href='#', data-activates='mobile-demo')
            i.material-icons menu
          ul.right.hide-on-med-and-down(ng-show="index.user.email")
            li
              a(href="/books") Books
            li
              a(href="/books/donor/{{index.user._id}}") Books By Me
            li
              a(href="#") Signed in as {{index.user.email}}
            li
              a(ng-click="index.logout()") Logout
    div(ng-view)
