script(src="lib/jquery/dist/jquery.min.js", type="text/javascript")
script(src="lib/angular/angular.min.js", type="text/javascript")
script(src="lib/angular-route/angular-route.min.js", type="text/javascript")
script(src="lib/materialize/bin/materialize.js", type="text/javascript")
script(src="app.module.js", type="text/javascript")
script(src="app.config.js", type="text/javascript")

script(src="home/home.controller.js", type="text/javascript")
script(src="index.controller.js", type="text/javascript")
script(src="allBooks/allBooks.controller.js", type="text/javascript")

script(src="services/authentication.service.js", type="text/javascript")
script(src="services/books.service.js", type="text/javascript")

link(rel="stylesheet", href="lib/materialize/bin/materialize.css")
link(rel="stylesheet", href="styles/combinedStyles.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")