.home-container.row(ng-controller="HomeController as home")
  .col.s2.left-panel
    h2.center-align.give-text Give
      br
      | a
      br
      | book
      br
      | you
      br
      | don't
      br
      | need
      br
      | to
      br
      | someone
      br
      | who
      br
      | does
  .homepage-banner.col.s10
    .banner-overlay
      .row.authentication-box
        .col.s4.offset-s4
          .row
            h3.white-text.center-align Welcome
          .row
            .col.s12
              ul.tabs
                li.tab.col.s3
                  a.active(href='#login') Login
                li.tab.col.s3
                  a(href='#signup') Signup
            #login.col.s12
              .row.z-depth-4.white.signup-box
                .row.center-align
                  .col.s6
                    a(href="/auth/facebook", target="_self") Login with Facebook
                  //- .col.s4
                  //-   a(href="#") Twitter
                  .col.s6
                    a(href="/auth/google", target="_self") Login with Google
                form.col.s12(name="loginForm" novalidate)
                  .row
                    .input-field.col.s12
                      i.material-icons.prefix account_circle
                      input(type="email", id="email", ng-model="home.userLogin.email", required)
                      label(for="email") Email
                  .row
                    .input-field.col.s12
                      i.material-icons.prefix lock_outline
                      input(type="password", id="password", value="laide", ng-model="home.userLogin.password", required)
                      label(for="password") Password
                  .row
                    button.right.btn.waves-effect.waves-light(type="submit", ng-click="home.login()", ng-disabled="loginForm.$invalid") Login
                      i.material-icons.right send
            #signup.col.s12
              .row.z-depth-4.white.signup-box
                .row.center-align
                  .col.s6
                    a(href="/auth/facebook", target="_self") Login with Facebook
                  //- .col.s4
                  //-   a(href="#") Twitter
                  .col.s6
                    a(href="/auth/google", target="_self") Login with Google
                form.col.s12(name="newUser" novalidate)
                  .row
                    .input-field.col.s12
                      i.material-icons.prefix account_circle
                      input(type="email", id="email", ng-model="home.userSignup.email", required)
                      label(for="email") Email
                  .row
                    .input-field.col.s12
                      i.material-icons.prefix account_circle
                      input(type="password", id="password", ng-model="home.userSignup.password", required)
                      label(for="password") Password
                  .row
                    button.right.btn.waves-effect.waves-light(type="submit", ng-click="home.signup()", ng-disabled="newUser.$invalid") Sign up
                      i.material-icons.right send
