.home-container.row
  .col.s2.left-panel
    h2.center-align.give-text Give
      br
      | a
      br
      | book
      br
      | you
      br
      | don't
      br
      | need
      br
      | to
      br
      | someone
      br
      | who
      br
      | does
  .homepage-banner.col.s10
    .banner-overlay
      .row.authentication-box
        .col.s4.offset-s4
          .row
            h3.white-text.center-align Sign up
          .row.z-depth-4.white.signup-box
            form.col.s12.white-text
              .row
                .input-field.col.s12
                  i.material-icons.prefix account_circle
                  input(type="email", placeholder="Email address", id="email")
                  label(for="email") Email
              .row
                .input-field.col.s12
                  i.material-icons.prefix account_circle
                  input(type="password", placeholder="password", id="password")
                  label(for="password") Password
              .row
                button.right.btn.waves-effect.waves-light(type="submit") Sign up
                  i.material-icons.right send
