div(ng-controller="DonorBooksController as donorBooks")
  .row.container.right-align.newBook-action
    .fixed-action-btn(style='bottom: 45px; right: 24px;')
      a.btn-floating.btn-large.waves-effect.waves-light.orange.accent-3(href="/books/new")
        i.large.material-icons add
  .row.container.book-tools
    .col.s12
      h5 Number of books donated: {{donorBooks.books.length}}
    .col.s12
      .bookList-filters
        | Categories:&nbsp&nbsp&nbsp
        input.filled-in(type="checkbox", id="fiction")
        label(for="fiction") Fiction &nbsp&nbsp&nbsp

        input.filled-in(type="checkbox", id="educative")
        label(for="educative") Educative &nbsp&nbsp&nbsp

        input.filled-in(type="checkbox", id="comedy")
        label(for="comedy") Comedy &nbsp&nbsp&nbsp

        input.filled-in(type="checkbox", id="motivational")
        label(for="motivational") Motivational &nbsp&nbsp&nbsp

        input.filled-in(type="checkbox", id="history")
        label(for="history") History &nbsp&nbsp&nbsp
  .row.books-container
    .col.s12.l4(ng-repeat="book in donorBooks.books")
      .card.horizontal
        .card-image
          .book-cover(style="background-image: url({{book.bookCover || 'images/notAvailable.png'}})")
        .card-stacked
          .card-content.book-details
            p {{book.title}}
              i.material-icons.right.grey-text.tools(tooltipped, data-position='bottom', data-delay='50', data-tooltip='Delete', href="#deleteModal", ng-click="donorBooks.deleteBook(book._id)")  delete
              a.material-icons.right.grey-text.tools(tooltipped, data-position='bottom', data-delay='50', data-tooltip='Edit', href="/books/{{book._id}}/edit") edit
            p {{book.author}}
            br
            p {{book.description | limitTo: 150}} {{book.description.length > 150 ? '...' : ''}}
          .card-action
            p.right-align.more-details
              a.grey-text.tools(href='/books/{{book._id}}') More details